.tasksView > input, .tasksView > label, .tasksView > textarea, .tasksView > select
{
	clear:left;
	float:left;
}


.taskProfileImage
{
	float:left;
	clear:left;
	max-height:100px;
}

#content
{
	margin-left:auto;
	margin-right:auto;
	max-width: 600px;
}
.listView
{
	max-width: 580px;
}
