/* 
    Document   : tasks
    Created on : Jan 24, 2012, 12:13:44 PM
    Author     : lpaulger
    Description:
        Purpose of the stylesheet follows.
*/

.taskView form input, .taskView form label, .taskView form select,.taskView form p{
    float:left;
    clear:left;
    display: block;
}